.field {
  padding: 2px;
}
.labelDiv {
  font-size: 12px;
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.input {
  width: 100%;
  border-radius: 5px;
  height: 30px;
  font-size: 15px;
  border: 1px solid gray;
  outline: none;
  margin-top: 2px;
  padding: 0 7px;
}
.input:focus {
  box-shadow: 0 0 0 2px cornflowerblue;
}